In [1]:
import pandas as pd
import numpy as np

Pri tvorbe tohto datasetu využívame tabuľku game a zároveň aj vytvorený dataFrame s názvom dataFrameGameGoalies. Tento dataFrame sme vytvorili pri tvorbe druhého datasetu.

- Obsahuje počet strelených a obdržaných gólov za posledných 5 spoločných zápasov.
- Namiesto priemerných počtov gólov v minulej sezóne sme vypočítali priemer strelených a inkasovaných gólov v posledných 10 zápasoch za každź tím.
- Obsahuje aj priemernú úspešnosť branárov v minulej sezóne.
- Celková dĺžka vektora je  23.

In [2]:
gameInput = pd.read_csv("./../../data/raw/game.csv").sort_values(by=['date_time_GMT'])

In [3]:
gameInput1 = pd.read_csv("./../../data/processed/dataFrameGameGoalies.csv")

In [4]:
gameInput1

,game_id,season,date_time,game1home,game1away,game1isHome,game2home,game2away,game2isHome,game3home,...,game5isHome,home_perc,away_perc,home_team_id,away_team_id,home_scored_avg,home_conceded_avg,away_scored_avg,away_conceded_avg,total
0,2016020472,20162017,2016-12-18,4,1,1,3,2,1,4,...,0,0.912661,0.911323,23,29,2.341463,2.878049,2.414634,3.024390,7
1,2016030114,20162017,2017-04-18,0,4,0,6,3,1,1,...,1,0.913061,0.895157,3,8,3.046512,2.534884,2.829268,3.243902,3
2,2014020254,20142015,2014-11-16,2,1,0,1,6,0,1,...,0,0.916448,0.917260,1,21,2.560976,2.243902,2.772727,2.795455,5
3,2013020508,20132014,2013-12-17,2,3,1,3,0,1,5,...,0,0.904220,0.902351,21,25,2.708333,2.833333,2.708333,2.833333,8
4,2013030156,20132014,2014-04-29,2,4,1,3,1,0,1,...,1,0.905179,0.898380,30,21,2.192308,2.384615,2.125000,3.500000,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9844,2015020982,20152016,2016-03-06,3,4,0,2,6,0,2,...,1,0.923938,0.898703,3,2,2.769231,2.346154,2.777778,2.888889,10
9845,2018020079,20182019,2018-10-16,6,2,0,1,6,0,1,...,0,0.911178,0.897113,3,21,3.073171,3.097561,2.704545,3.409091,5
9846,2012020043,20122013,2013-01-25,4,3,0,2,3,0,3,...,1,0.914981,0.908849,12,7,2.585366,2.682927,2.317073,2.926829,9
9847,2014020851,20142015,2015-02-18,5,3,1,1,0,1,4,...,0,0.909961,0.897096,19,25,3.386364,2.409091,2.590909,3.181818,5
9848,2012030122,20122013,2013-05-03,2,3,1,3,2,1,1,...,1,0.912363,0.918112,8,9,2.804878,2.707317,3.111111,2.711111,4

Vytvoríme si kópiu dataFrame-u, ktorý obsahuje aj percentuálnu úspešnosť brankárov.

In [4]:
games = gameInput1

In [5]:
games

,game_id,season,date_time,game1home,game1away,game1isHome,game2home,game2away,game2isHome,game3home,...,game5isHome,home_perc,away_perc,home_team_id,away_team_id,home_scored_avg,home_conceded_avg,away_scored_avg,away_conceded_avg,total
0,2016020472,20162017,2016-12-18,4,1,1,3,2,1,4,...,0,0.912661,0.911323,23,29,2.341463,2.878049,2.414634,3.024390,7
1,2016030114,20162017,2017-04-18,0,4,0,6,3,1,1,...,1,0.913061,0.895157,3,8,3.046512,2.534884,2.829268,3.243902,3
2,2014020254,20142015,2014-11-16,2,1,0,1,6,0,1,...,0,0.916448,0.917260,1,21,2.560976,2.243902,2.772727,2.795455,5
3,2013020508,20132014,2013-12-17,2,3,1,3,0,1,5,...,0,0.904220,0.902351,21,25,2.708333,2.833333,2.708333,2.833333,8
4,2013030156,20132014,2014-04-29,2,4,1,3,1,0,1,...,1,0.905179,0.898380,30,21,2.192308,2.384615,2.125000,3.500000,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9844,2015020982,20152016,2016-03-06,3,4,0,2,6,0,2,...,1,0.923938,0.898703,3,2,2.769231,2.346154,2.777778,2.888889,10
9845,2018020079,20182019,2018-10-16,6,2,0,1,6,0,1,...,0,0.911178,0.897113,3,21,3.073171,3.097561,2.704545,3.409091,5
9846,2012020043,20122013,2013-01-25,4,3,0,2,3,0,3,...,1,0.914981,0.908849,12,7,2.585366,2.682927,2.317073,2.926829,9
9847,2014020851,20142015,2015-02-18,5,3,1,1,0,1,4,...,0,0.909961,0.897096,19,25,3.386364,2.409091,2.590909,3.181818,5
9848,2012030122,20122013,2013-05-03,2,3,1,3,2,1,1,...,1,0.912363,0.918112,8,9,2.804878,2.707317,3.111111,2.711111,4

Teraz si musíme vytvoriť dva ďalšie stĺpce, ktoré budú obsahovať, počet víťazstiev domáceho alebo hosťujúceho tímu v predchádzajúcich 5 zápasoch.

In [6]:
games['home_win'] = 0
games['away_win'] = 0

In [7]:
games.head()

,game_id,season,date_time,game1home,game1away,game1isHome,game2home,game2away,game2isHome,game3home,...,away_perc,home_team_id,away_team_id,home_scored_avg,home_conceded_avg,away_scored_avg,away_conceded_avg,total,home_win,away_win
0,2016020472,20162017,2016-12-18,4,1,1,3,2,1,4,...,0.911323,23,29,2.341463,2.878049,2.414634,3.024390,7,0,0
1,2016030114,20162017,2017-04-18,0,4,0,6,3,1,1,...,0.895157,3,8,3.046512,2.534884,2.829268,3.243902,3,0,0
2,2014020254,20142015,2014-11-16,2,1,0,1,6,0,1,...,0.917260,1,21,2.560976,2.243902,2.772727,2.795455,5,0,0
3,2013020508,20132014,2013-12-17,2,3,1,3,0,1,5,...,0.902351,21,25,2.708333,2.833333,2.708333,2.833333,8,0,0
4,2013030156,20132014,2014-04-29,2,4,1,3,1,0,1,...,0.898380,30,21,2.192308,2.384615,2.125000,3.500000,7,0,0

V tomto prípade nejdeme vytvárať nový dataFrame, ale budeme aktualizovať dataFrame games.

Hľadáme posledných 10 zápasov pre domáci aj hosťujúci klub. Vypočítame priemerný počet gólov v týchto zápasoch, a zároveň aj počet výhier z týchto zápasov.

In [8]:
for index, row in games.iterrows():
    homeS = 0;
    homeC = 0;
    homeW = 0;
    awayS = 0;
    awayC = 0;
    awayW = 0;
    if not (gameInput.loc[((gameInput['home_team_id'] == row['home_team_id']) | (gameInput['away_team_id'] == row['home_team_id'])) & (gameInput['date_time'] < row['date_time'])].tail(10).empty):
        homeLast = gameInput.loc[((gameInput['home_team_id'] == row['home_team_id']) | (gameInput['away_team_id'] == row['home_team_id'])) & (gameInput['date_time'] < row['date_time'])].tail(10)
        for index1, game in homeLast.iterrows():
            if(game['home_team_id'] == row['home_team_id']):
                homeS += game['home_goals']
                homeC += game['away_goals']
                if(game['home_goals'] > game['away_goals']):
                    homeW += 1
            elif (game['away_team_id'] == row['home_team_id']):
                homeS += game['away_goals']
                homeC += game['home_goals']
                if(game['away_goals'] > game['home_goals']):
                    homeW += 1
    if not (gameInput.loc[((gameInput['home_team_id'] == row['away_team_id']) | (gameInput['away_team_id'] == row['away_team_id'])) & (gameInput['date_time'] < row['date_time'])].tail(10).empty):
        awayLast = gameInput.loc[((gameInput['home_team_id'] == row['away_team_id']) | (gameInput['away_team_id'] == row['away_team_id'])) & (gameInput['date_time'] < row['date_time'])].tail(10)
        for index1, game in awayLast.iterrows():
            if(game['away_team_id'] == row['away_team_id']):
                awayS += game['away_goals']
                awayC += game['home_goals']
                if(game['away_goals'] > game['home_goals']):
                    awayW += 1
            elif (game['home_team_id'] == row['away_team_id']):
                awayS += game['home_goals']
                awayC += game['away_goals']
                if(game['home_goals'] > game['away_goals']):
                    awayW += 1
    games.loc[index, 'home_scored_avg'] = homeS/10
    games.loc[index, 'away_scored_avg'] = awayS/10
    games.loc[index, 'home_conceded_avg'] = homeC/10
    games.loc[index, 'away_conceded_avg'] = awayC/10
    games.loc[index, 'home_win'] = homeW    
    games.loc[index, 'away_win'] = awayW

In [9]:
games.head(10)

,game_id,season,date_time,game1home,game1away,game1isHome,game2home,game2away,game2isHome,game3home,...,away_perc,home_team_id,away_team_id,home_scored_avg,home_conceded_avg,away_scored_avg,away_conceded_avg,total,home_win,away_win
0,2016020472,20162017,2016-12-18,4,1,1,3,2,1,4,...,0.911323,23,29,3.1,3.2,3.8,1.6,7,5,9
1,2016030114,20162017,2017-04-18,0,4,0,6,3,1,1,...,0.895157,3,8,2.4,3.2,2.9,1.9,3,3,7
2,2014020254,20142015,2014-11-16,2,1,0,1,6,0,1,...,0.917260,1,21,2.2,2.7,2.5,3.2,5,5,3
3,2013020508,20132014,2013-12-17,2,3,1,3,0,1,5,...,0.902351,21,25,2.0,2.8,3.0,3.4,8,5,4
4,2013030156,20132014,2014-04-29,2,4,1,3,1,0,1,...,0.898380,30,21,2.8,2.6,2.7,2.6,7,6,5
5,2011020153,20112012,2011-10-30,3,1,1,4,3,0,4,...,0.908225,29,24,2.3,3.4,2.3,2.6,4,1,5
6,2016020876,20162017,2017-02-20,4,0,0,2,1,0,1,...,0.926570,21,14,1.8,3.1,3.0,2.7,5,3,4
7,2015020619,20152016,2016-01-10,2,3,0,5,4,0,3,...,0.904571,28,10,2.7,3.2,3.6,2.4,7,4,6
8,2014020389,20142015,2014-12-06,2,1,0,4,2,0,5,...,0.913646,16,8,3.7,2.1,2.5,2.5,7,8,5
9,2014020703,20142015,2015-01-28,5,2,0,2,1,0,4,...,0.914286,13,17,2.7,3.4,3.4,2.5,9,4,8

Dataset games si rozdelíme do dvoch skupín, na trénovaciu a testovaciu.

In [10]:
dataSet1 = games.sample(frac=1).reset_index(drop=True)

In [11]:
dataTrain1 = dataSet1.loc[0:int(len(dataSet1)*0.8)]
dataTest1 = dataSet1.loc[int(len(dataSet1)*0.8) + 1:]

Následne odstránime nepotrebné stĺpce a spravíme ďalšie rozdelenie, na vstupné vektory a očakávané hodnoty.

In [12]:
dataSet3TrainX = dataTrain1.drop('season',1).drop('game_id',1).drop('date_time',1).drop('total',1)
dataSet3TrainY = dataTrain1.total
dataSet3TestX = dataTest1.drop('season',1).drop('game_id',1).drop('date_time',1).drop('total',1)
dataSet3TestY = dataTest1.total

,game1home,game1away,game1isHome,game2home,game2away,game2isHome,game3home,game3away,game3isHome,game4home,...,home_perc,away_perc,home_team_id,away_team_id,home_scored_avg,home_conceded_avg,away_scored_avg,away_conceded_avg,home_win,away_win
0,0,2,0,1,4,0,5,4,0,3,...,0.908803,0.917199,10,8,3.1,2.8,2.5,2.2,6,5
1,1,2,1,3,0,0,2,1,0,6,...,0.936410,0.910287,6,4,3.1,1.4,2.9,3.7,6,4
2,0,1,0,3,1,0,4,2,0,2,...,0.914468,0.908225,7,24,3.1,3.1,3.4,3.0,6,5
3,4,3,0,1,5,0,2,4,1,3,...,0.913319,0.904372,12,14,3.5,2.5,3.3,2.9,7,6
4,2,3,0,2,4,0,5,4,0,4,...,0.905153,0.924993,26,3,2.6,3.3,2.3,2.9,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8486,6,5,1,0,1,1,3,4,0,3,...,0.932634,0.917073,15,14,3.9,2.4,2.9,3.0,8,6
8487,6,5,1,0,1,1,3,4,0,3,...,0.932634,0.917073,15,14,3.7,2.5,3.1,2.7,7,7
8488,3,0,1,5,6,0,1,0,0,4,...,0.902329,0.909422,14,15,3.2,2.8,3.3,2.6,7,6
8489,6,5,1,0,1,1,3,4,0,3,...,0.932634,0.917073,15,14,3.3,2.6,3.2,2.9,6,7
8490,3,0,1,5,6,0,1,0,0,4,...,0.902329,0.909422,14,15,3.0,2.6,3.2,2.5,7,6

In [13]:
dataSet3TrainX.to_csv('.\..\..\data\processed\dataSet3TrainX.csv', encoding='utf-8', index=False)
dataSet3TrainY.to_csv('.\..\..\data\processed\dataSet3TrainY.csv', encoding='utf-8',index=False)
dataSet3TestX.to_csv('.\..\..\data\processed\dataSet3TestX.csv', encoding='utf-8', index=False)
dataSet3TestY.to_csv('.\..\..\data\processed\dataSet3TestY.csv', encoding='utf-8', index=False)

C:\Users\Filip\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.

C:\Users\Filip\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  after removing the cwd from sys.path.

In [14]:
games.to_csv('.\datasets\dataset3.csv', encoding='utf-8', index=False)

In [16]:
print(len(dataTrain1.loc[dataTrain1.total == 6])/len(dataTrain1))
print(len(dataTrain1.loc[dataTrain1.total == 5])/len(dataTrain1))
print(len(dataTest1.loc[dataTest1.total == 6])/len(dataTest1))
print(len(dataTest1.loc[dataTest1.total == 5])/len(dataTest1))

0.10368020304568527
0.2450507614213198
0.10919248349415947
0.2473336719146775